center {
    display: block;
    text-align: -webkit-center;
}

a:visited {
    color: #828282;
    text-decoration: none;
}

a:link {
    color: #000000;
    text-decoration: none;
}

td{
    padding-right: 4px;
}

.newsrow{
    margin-bottom: 5px;
}

.subtext{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 7pt;
    color: #828282;
}

.pagebox{
    display: flex;
    justify-content: center;
}

.pagination li{
    margin-right: 20px;
}